name: Lint & Check

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use latest Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install Dependencies
        run: |
          corepack enable
          yarn install --frozen-lockfile
      - name: Run Typechecker
        run: |
          yarn tsc
      - name: Run Linter
        run: |
          yarn lint
      - name: Run CSS Linter
        run: |
          yarn csslint
      - name: Run Spellchecker
        run: |
          yarn spellcheck
      - name: Run Test
        run: |
          yarn test
      - name: Run Build
        run: |
          yarn build
